@import "tailwindcss";

.info {
    padding: 20 0 20 20;
    background-color: white;
    text-align: left;
}

.title {
    text-align: left;
    padding: 20px;
}

hr {
    border: none;
    border-top: 0.5px dashed white;
}